.button-day-night {
    font-size: 0;
    width: 100px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;

    &[aria-pressed="true"] {
        &>svg {
            fill: blue;
        }
    }
}